.main-container h2{
    text-align: center;
}
.containerp{
    display: flex;
    margin: 20px !important;
}
.carrusel{
    width: 100%;
    height: 600px;
}
.next{
    padding: 20px;
}
.filter{
    display: flex;
    justify-content: center;

}
